Package: enigma2-plugin-extensions-piconsupdater
Version: 0.4.0
Description: Download and install new Picons for your current bouquet channels. PiconsUpdater coded by svox and jbleyel, idea by arn354 and picons by mike99
Section: extra
Priority: optional
Maintainer: svox, mike99, jbleyel
Depends: python3-pillow, python3-io, python3-compression, pngquant
OE: enigma2-plugin-extensions-piconsupdater
