Package: enigma2-plugin-systemplugins-satipclient
Version: 1.0-r0
Description: Satip Client
Maintainer: oe-a
Depends: satip-client
Conflicts: enigma2-plugin-extensions-satipclient
Replaces: enigma2-plugin-extensions-satipclient
