Package: enigma2-plugin-extensions-tvspielfilm
Version: 6.6rc4
Description: TV Spielfilm Plugin
Architecture: all
Section: extra
Priority: optional
Maintainer: kashmir
Homepage: http://www.kashmir-plugins.de
Depends: python-pyopenssl python-textutils
Source: http://www.kashmir-plugins.de
