Package: enigma2-plugin-extensions-tvspielfilm
Version: 2.0
Description: TV Spielfilm Plugin
Architecture: all
Section: extra
Priority: optional
Maintainer: Mr.Servo, oe-a
Homepage: www.opena.tv
Depends: python-pyopenssl python-textutils
Source: https://github.com/oe-alliance/oe-alliance-plugins
