Package: enigma2-plugin-extensions-tvspielfilm
Version: 6.7
Description: TV Spielfilm Plugin
Architecture: all
Section: extra
Priority: optional
Maintainer: kashmir (RIP), oe-a
Homepage: http://www.kashmir-plugins.de (OFFLINE)
Depends: python-pyopenssl python-textutils
Source: https://github.com/oe-alliance/oe-alliance-plugins
