Package: enigma2-plugin-systemplugins-gigabluebluetoothsetup
Version: 1.0-r0
Description: GigaBlue bluetooth plugin
Maintainer: GigaBlue
Depends: libcurl, libsqlite3, libssl, libcrypto, libudev, libusb-compat, gb-bluetooth-util
