Package: enigma2-plugin-extensions-btdevicesmanager
Version: 1.0-r0
Description: this is bt devices manger to pair e.x keyboard or mouse
Maintainer: a4tech
Depends: bluez4-testtools, bluez4, bluez-hcidump
